.footer-div {
  background-color: var(--color-dark);
  padding: 40px;
}

.footer-link {
  color: var(--color-gold);
  text-decoration: none;
}

.footer-link:hover {
  color: var(--bs-gray-400);
  transition: 200ms ease-in-out;
}

.text-gold {
  color: var(--color-gold);
}

.creators-link {
  color: var(--color-gold);
  text-decoration: none;
}

.creators-link:hover {
  color: var(--bs-gray-400);
  transition: 200ms ease-in-out;
  cursor: pointer;
}
